body{
  display: flex;
  min-height: 100vh;
  place-items: center;
  place-content: center;
}

.container{
  padding: 50px 100px;
  border: 2px solid #8888;
  border-radius: 3rem;
  text-align: center;
}

.timer{
  font-family: monospace;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

button{
  padding: 5px 20px;
  margin: 0 10px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: backround-color 0.5s ease
}

.start-button{
  background-color: hsl(106, 55%, 50%);
}

.start-button:hover{
  background-color: hsl(106, 55%, 40%);
}

.stop-button{
  background-color: hsl(6, 55%, 50%);
}

.stop-button:hover{
  background-color: hsl(6, 55%, 40%);
}

.reset-button{
  background-color: hsl(54, 55%, 50%);
}

.reset-button:hover{
  background-color: hsl(54, 55%, 40%);
}

